<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/styleFooter.css}">
    <title>Document</title>
</head>
<body>
    
    <div th:fragment="footerFragment">
        <footer>
            <div class="footer-container">
                <div class="footer-section">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Listings</h3>
                    <ul>
                        <li><a href="#">Browse Cars</a></li>
                        <li><a href="#">Sell Your Car</a></li>
                        <li><a href="#">Featured Cars</a></li>
                        <li><a href="#">Dealerships</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Legal</h3>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Partnerships</a></li>
                        <li><a href="#">Media</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>