body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.site-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.site-header .logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* Ensures the logo stays on the left */
}

.site-header nav {
    margin-left: auto; /* Pushes the nav to the far right */
}

.site-header .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.site-header .nav-links li {
    margin-left: 10px; /* Adjusts the spacing between each nav item */
}

.site-header .nav-links a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    /*font-weight: bold;*/
}

.site-header .nav-links a:hover {
    border-radius: 3px;
    background-color: dodgerblue;

}

.site-header .container .logo span {

    font-weight: bold;
}

.site-header .container .nav-links li a.active {
    border-radius: 3px;
    background-color:dodgerblue;

}
