body {
    margin: 0;
    display: flex; /* Enable flexbox on the body */
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh; /* Ensure body covers full viewport height */
}

main {
    font-family: GeistSans, "GeistSans Fallback", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    flex: 1;
    display: flex;
    justify-content: center; /* Center the main content horizontally */
    align-items: center; /* Center the main content vertically */
}

.mainDiv {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Optional: set a maximum width */
    margin: auto; /* Center the div */
}

.headingLeft {
    margin-left: auto;
    margin-right: 30px;
    align-content: center;
    align-items: center;
}

.pictureRight {
    margin-right: auto;
}

.pictureRight img {
    border-radius: 5px;
}

.button-group {
    margin-top: 30px;
}
.browseBTN {
    margin-right: 10px;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    background-color: #333333;
    height: 45px;
    width: 130px;
    padding: 2px;
    color: #f2f2f2;

}

.browseAnchor {
    text-decoration: none;
}

.learnMore {
    font-weight: bold;
    border: 1px solid #666666;
    border-radius: 3px;
    background-color: #f2f2f2;
    height: 45px;
    width: 130px;
    padding: 2px;

}

.aboutAnchor{
    text-decoration: none;
}

.browseBTN:hover {
    cursor: pointer;
    background-color: #666666;
}

.learnMore:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}

h1 {
    color: black;
    font-size: 3rem;
}

p {
    font-size: 20px;
}

