<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/styleFooter.css}">
    <link rel="stylesheet" th:href="@{/css/styleBrowse.css}">


    <title>Car Listing - Browse</title>
</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}" th:with="currentPage='browse'"></div>
<main>
    <div class="topHeading">
        <h1>Browse Our Car Collection</h1>
        <p>Explore our wide range of high-quality vehicles, each with its own unique features and specifications.</p>
    </div>

    <div class="card-container">
        <div th:each="car : ${cars}" class="card">
            <img th:src="${car.carImageUrl}" alt="Car Image">
<!--            <img src="https://picsum.photos/seed/picsum/200/300" alt="Car Image">-->
            <div class="card-content">
                <h2 th:text="${car.brand + ' ' + car.model}" class="brand-model-text"></h2>
                <p th:text="${car.description}" class="text-description"></p>
                <p class="price" th:text="${'₱' + car.price}"></p>
            </div>
        </div>
    </div>

</main>
<div th:replace="~{fragments/footer :: footerFragment}"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/cardGenerator.js}"></script>
</body>
</html>
