<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/styleFooter.css}">
    <link rel="stylesheet" th:href="@{/css/styleSell.css}">

    <title>Car Listing</title>
</head>
<body>


    <div th:replace="~{fragments/header :: headerFragment}" th:with="currentPage='sell'"></div>
    
    <div class="listingContainer">

        <div class="listingHeader">
            <h2>List Your Car</h2>
            <p>Fill out the form below to list your car for sale.</p>
        </div>
        <div class="listingForms">

            <form th:action="@{/addCar}" method="post">

                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="text" name="year" id="year" placeholder="2023" required>

                </div>
                <div class="form-group">

                    <label for="registration">Registration</label>
                    <input type="text" name="registration" id="registration" placeholder="ABC 123" required>

                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" placeholder="$25,000" required>

                </div>
                <div class="form-group">
                    <label for="brand">Brand</label>
                    <input type="text" name="brand" id="brand" placeholder="Toyota" required>

                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" name="model" id="model" placeholder="Camry" required>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <input type="text" name="color" id="color" placeholder="Silver" required>
                </div>

                <div class="form-group">
                    <label for="img">Vehicle Image:</label>
                    <input type="file" id="img" name="img" accept="image/*">
                </div>

                
                <div class="form-group full-width">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" placeholder="Provide details about your car...." required></textarea>
                </div>

                <div class="form-action">
                    <button type="submit" class="submit">List Car</button>
                </div>
                
            </form>
            
        </div>


    </div>

    <div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>
